# Printing 4 characters of each line

In [10]:
# Task 1(a)
file = open("names.txt","r")
print('Names including only first four characters')
for i in file:
    i = i.strip("\n")
    print (i[0:4],'   ',end='')

Names including only first four characters
Atif    Umer    Anna    Aime    Faro    Hamz    Ali    Ahme    Ibra    Saad    Raza    Mich

# Total characters in the file

In [2]:
# Task 1(b)
file = open("names.txt","r")
names = file.read()

s = 0
for i in names:
    i = i.strip("\n")
    s = s+len(i)
    
print('total characters in file are => ',s)

total characters in file are =>  56

# Average of the characters in each line

In [11]:
# Task 1(c)
file = open("names.txt","r")

s = 0
c = 0
for i in file:
    i = i.strip("\n")
    s = s+len(i)
    c+=1
print('average characters in each line => ',round(s/c,2))

average characters in each line =>  4.67

# Shortest line in the file

In [12]:
#Task 1(d)
file = open("names.txt","r")
s_n = file.readline()
s_n = s_n.strip('\n')
m = len(s_n)
for i in file:
    i = i.strip("\n")
    if len(i) < m:
        s_n = i
        m = len(i)
print('shortest name in the file => ',s_n)
print('charachters in shortest name in the file => ',m)

shortest name in the file =>  Ali
charachters in shortest name in the file =>  3

# Print lines acording to the user defined number of characters

In [5]:
#Task 1(e)
file = open("names.txt","r")

def Print(p):
    print('Name(s) with {a} characters is/are:'.format(a = p))
    for i in file:
        i = i.strip('\n')
        if len(i) == p:
            print(i)
            
n = int(input('Enter the length => '))
Print(n)

Enter the length => 4
Name(s) with 4 characters is/are:
Atif
Umer
Anna
Saad
Raza

# Creating new file having extra string values

In [14]:
#Task 1(f)
file = open("names.txt","r")
file_1 = open("name_subj.txt","w")

for i in file:
    i=i.strip('\n')
    s= i+"\t\tPrograming Fundamental lab, Programing Fundamental, English composition, Calculus_1\n"
    file_1.write(s)
file_1.close()

# checking whether the line(name) exists in the file or not

In [15]:
#Task 1(g)
file = open("names.txt","r")

def Print(p):
    for i in file:
        i = i.strip('\n')
        if i == p:
            c = True
            break
        else:
            c = False
    if c==True:
        print('Name',p,'is in the File')
    else:
        print('Name',p,'is not in the File')
            
n = input('Enter the name => ')
Print(n)

Enter the name => Ali
Name Ali is in the File